<div id="<%= dom_id post %>">
  <p>
    <strong>Public status:</strong>
    <%= post.public_status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user_id %>
  </p>

  <p>
    <strong>Text content:</strong>
    <%= post.text_content %>
  </p>

</div>
