/*reset css*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}



p, button, label, a, input[type="submit"] {
  color: var(--main-font-color);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

input[type="submit"] {
  background-color: var(--main-color);
}

div, body {
  background-color: var(--main-bg-color);
}

/*page layout */
.container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 10fr;
}

.main-content {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*post rules*/
.poster-name {
  font-size: 1.2rem;
}

.time {
  font-size: 0.8rem;
}

div.post {
  min-width: 50%;
  border: 1px solid var(--main-color);
}

.post-main-content {
  border-bottom: 1px dashed var(--main-color);
}

.post-comments {
  border-bottom: 1px dashed var(--main-color);
  margin-bottom: 5px;
}

.like-block, .like-block>form {
  display: flex;
}

.like-block button, ul button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

ul button {
  font-size: 20px;
  color:red;
}

input[type="image"] {
  padding-bottom: 4px;
}